# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Scala
5. C++

Some of the commonly used libraries used by Data Scientists include:

1. Keras
2. scikit-learn
3. Tensorflow
4. PyTorch
5. Pandas
6. Matplotlib
6. SciPy

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives__
* List popular languages for Data Science
* List commonly used libraries in Data Science
* Introduce basic arithmetic expressions in Python
* How to Provide comments in the cell

## Author
Shubhankar Nandakumar